

.pacifico-font{
  font-family: 'Pacifico', cursive;
}

.poppins-font{
  font-family: 'Poppins', sans-serif;
}

.btn-primaryish{
    color: #eeeeee;
    background-color: #c8845a;
    border-color: #c8845a;
}

.bg-header{
background-image: url('https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
background-position: center;
background-size: cover;
}

.bgish-mint{
background-color: #a49c86;
}

.circleish{
  object-fit: cover;
  border-radius: 50%;
}

.centerish{
  justify-content: space-around;
}

.btnish{
width: 150px;
left: 50%;
margin-left: -75px;
}

.bgish-light{
  background-color: #eeeeee;
  height: 120px;
}

.underflowish{
  margin-bottom: -3rem;
}

.breakish{
  border: 7px solid white;
}

.cardish-color{
  background-color: #eeeeee;
}

.btnish-color{
  background-color: #c8845a;
  border-color: #c8845a;
}